/* Page load animation */
.home-once {
    opacity: 0;
}
.home-once-active {
    transition: opacity 0.3s linear 0.3s;
}
.home-once-to {
    opacity: 1;
}

/* Slide to home */
.home-enter-active, 
.home-leave-active {
    transition: all 0.7s var(--easing);
}
/* Cover In */ 
.home-leave {
    transform: translateX(0);
}
.home-leave-to {
    transform: translateX(100%);
}
/* Cover Down */ 
.home-enter {
    transform: translateX(-100%);
}
.home-enter-to {
    transform: translateX(0%);
    position: absolute;
    top: 0;
    left: 0;
}